<section>
  <div class="page-header">
    <h1>Cats</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="cat in vm.cats" ui-sref="cats.view({ catId: cat._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="cat.created | date:'mediumDate'"></span>
        by
        <span ng-if="cat.user" ng-bind="cat.user.displayName"></span>
        <span ng-if="!cat.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="cat.title"></h4>
      <p class="list-group-item-text" ng-bind="cat.content"></p>
    </a>
  </div>
</section>
